<link rel="stylesheet" href="ttt.css">
<div>
  <h2>Tic-Tac-Toe</h2>

  Name : <input type="text" placeholder="player name" ng-model="player.name" ng-disabled="isBusy()"></input>
  <div ng-show="isBusy()">
    Match Status : {{ status }} <br>
    Match ID : {{ match_id }} <br>
    Match Key : {{ player.match_key }}<br>
    Role : {{ role }}<br>
    Message : {{ message }}
  </div>
  <button ng-click="play()" ng-hide="isBusy()">Play</button>
  <button ng-click="concede()" ng-show="isBusy()">Concede</button>
  <table class="tttTable">
    <tr ng-repeat="row in board track by $index">
      <td ng-repeat="cell in row track by $index" ng-click="submit(cell.move_index)">
        {{ cell.icon }}
      </td>
    </tr>
  </table>
</div>
